<br>
<p>Your pending Invitation</p>

<div class="invite-card">

  <div id="invite_group_banner">
    <div>
      <h6> Building Tommorrow </h6>
      <p> 3 members join today</p>
    </div>

    <div id="Toggle_div">
      <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/FFFFFF/toggle-off.png" alt="toggle-off"/>
    </div>
  </div>

  <div id="group_b_detials">

  </div>

<p>
</div>
