<br>
<p>Your pending Invitation</p>

<div class="invite-card">
  <%# if @susus.any? %>
      <%# @susus.each do |susu| %>
  <div id="invite_group_banner">
    <div>
      <h6> Building Tommorrow </h6>
      <p> 3 members join today</p>
    </div>

  </div>

  <div id="group_b_detials">

    <div class="avatar_i">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
      <p> invited you </p>
    </div>
    <button type="button" class="btn btn-light">Join</button>
  </div>

  <%# end %>

</div>
