<!--<br>
<div class="container">
<br>
  <div id="page_main">

    <div class="form-group">
    <%#= f.label :user_id, "Invite New Member:" %>-->
    <%#= f.collection_select :user_id, User.all, :id, ->(user) { "#{user.first_name} #{user.last_name}" }, prompt: "Select user" %>
<!--  </div>-->
  <%#= f.submit "Invite", class: "btn btn-primary" %>
<!--
  </div>
</div>
-->
