
<div class="container new-susu-container">
  <div id="new_susu_header">

    <div id="back_arrow">
      <img width="48" height="48" src="https://img.icons8.com/fluency-systems-filled/48/long-arrow-left.png" alt="long-arrow-left"/>
    </div>

    <div id="menu_icon">
      <img width="24" height="24" src="https://img.icons8.com/android/24/menu.png" alt="menu"/>
    </div>

  </div>
  <br>

  <h2>Create a new SuSu</h2>
  
  <%= render 'form' %>


</div>
