<br>
<div class="container">
<br>
  <div id="page_main">

    <div id="show_header_div">
    <div id="header_user">
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
        <div id="header_user_text">
            <h6>John Williams</h6>
            <p> Welcome back! 🌟</p>
        </div>

      </div>
      <img width="20" height="20" src="https://img.icons8.com/ios/50/appointment-reminders--v1.png" alt="appointment-reminders--v1"/>
      </div>
      <%= render partial: 'susus/show_card' %>

  </div>
</div>
