<div class="footer">
  <div class="footer-container">
    <%= link_to "Messages", susu_messages_path, class: "footer-link" do %>
      <i class="fa-regular fa-message"></i>
    <% end %>
    <%= link_to "Susu", root_path, class: "footer-link" do %>
      <i class="fa-solid fa-house-user"></i>
    <% end %>
    <%= link_to "Members", susu_members_path, class: "" do %>
      <i class="fa-solid fa-list"></i>
    <% end %>
  </div>
</div>
