<div class="footer">
  <div class="footer-container">
    <%= link_to @susu_messages_path, class: "footer-link" do %>
      <i class="fa-regular fa-message"></i>
    <% end %>
    <%= link_to @root_path, class: "footer-link" do %>
      <i class="fa-solid fa-house-user"></i>
    <% end %>
    <%= link_to @susu_members_path, class: "footer-link" do %>
      <i class="fa-solid fa-list"></i>
    <% end %>
  </div>
</div>
