<div class="fixed-bottom">
  <div class="font-links">
    <%= link_to susu_messages_path(@susu), class: "link" do %>
      <i class="fa-regular fa-message fa-lg"></i>
    <% end %>
    <% if current_page?(susu_path(@susu)) %>
      <%= link_to root_path, class: "link" do %>
      <i class="fa-solid fa-house-user fa-lg"></i>
      <% end %>
    <% else %>
    <%= link_to susu_path(@susu), class: "link" do %>
     <i class="fa-solid fa-house-user fa-lg"></i>
      <% end %>
    <% end %>

    <%= link_to susu_members_path(@susu), class: "link" do %>
      <i class="fa-solid fa-list fa-lg"></i>
    <% end %>
  </div>
</div>
