<br>
<div class="container">
  <div id="page_main">

    <div id="header_div">
      <p> Hey John </p>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar" %>
    </div> <br>

    <div id="create_susu_box">

      <div class="user_show_header">
          <p>Great to have you here,<br/>Get started with <strong>mySusu</strong> </p>
      </div>

      <div id="create_sus_subs">
        <h6>Create your Susu Group</h6>
        <div id="button_div">
          <img width="20" height="20" src="https://img.icons8.com/ios/50/plus-key.png" alt="plus-key"/>
          <p> Susu</p>
        </div>
      </div>

    </div>


  </div>
</div>
