<br>
  <div class="container">
    <br>
      <div id="page_main">
      <div class="deposit" data-controller="deposit">

      <div class="card mb-3 bg-white shadow-sm p-3">
        <%= render partial: 'deposits/new' %>
      </div>

    </div>
    </div>

  </div>
