.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-messages {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
}


.avata {
  width: 40px;
  border-radius: 50%;
}
.avata-large {
  width: 56px;
  border-radius: 50%;
}
.avata-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avata-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avata-messages {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 3px;
}

.styled-image {
  height: 50px;
  width: 50px;
  margin-top: 5px;
  border-radius: 50%;
}
