
#button_div1 {
  background-color: #E29706;
  display: flex;
  // flex-direction: row;
  // padding: 5px;
  // margin-top: 10px;

  display: flex;
  justify-content: center;
  gap: 2px;
  padding-top: 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 80px;
  height: 40px;
  align-items: center;

  .no-underline {
    text-decoration: none;
    color: white;
  }

}

  #button_div1:hover {
    background-color: #cccccc;
  }



  #button_div1 p {

    color: white;
  }

  .extra-rounded {
    border-radius: 0 15px 15px 0;
  }


  .btn-blue {
    background-color: #007bff; /* Blue color used in Bootstrap */
    border-color: #007bff; /* Border color */
    color: #fff; /* Text color */
}

.btn-blue:hover {
    background-color: #0056b3; /* Darker blue on hover */
    border-color: #0056b3; /* Darker border color on hover */
    color: #fff; /* Text color on hover */
}


.icon-button {
  background-image: url(https://res.cloudinary.com/dvql3swac/image/upload/v1710893257/jn5lahjolkvttuyblik5.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  padding: 0;
  border-radius: 20px;
}

.icon-button:focus {
  outline: none;
}
