.form-container {
  position: fixed;
  right: 0;
  bottom: 75px;
  left: 0;
  z-index: 1030;
}

.messages-container {
  overflow-y: scroll;
  height: 80vh;
  background-color: #FFD23F;
}

.nav {
  padding: 5px;
  margin-top: 2px;
}

.page-content {
  border-radius: 10px;
}
