.form-container {
  z-index: 1030;
  display: flex;
  flex-direction: row;
  height: 0vh;
  margin: auto;
  width: 100%;
  justify-content: center;
  // background-color: #c3c5c591;
  padding-top: 20px;
  border: none;
  border-color: transparent;
}

  #form2{
    display: flex;
    flex-direction: row;
    background-color: #fffafa;
    border-radius: 20px;
    // height:max-content;
    padding: 10px;

  }


.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 75vh;
  overflow-y: scroll;
  width: 90%;
  // background-color: #c3c5c591;
  margin: 0 auto;


  @media screen and (min-width: 768px) {
    #messages-container{
      overflow-y: scroll;
      width: 60px;
      // background-color: #c3c5c591;
      margin: 0 auto;

      height: 50vh;
    }
  }
}

.nav {
  padding: 5px;
  margin-top: 2px;
}

.page-content {
  border-radius: 10px;
}

.no-default-style {
  /* Reset all styles here (optional) */
  margin: 0;
  padding: 0;
  border: none;
  /* Add other styles as needed */
  height: 10px;
}


.messages-page {
  height: 100vh;
}


textarea {
  border-style: none;
  border-color: transparent;
  overflow: auto;
  resize: none;
}
.form-control {
  border-style: none;
  border-width: 0.5;
  border-color: #0000001f;
  // outline: none !important;
  // border-width: 0 !important;
  height: 100%;

  .form-control:focus {
    outline: none !important;
    border-style: none !important;
    border-width: 0 !important;
  }
}
