<div class="parent">
  <div class="child">
    <h1>Members</h1>
    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMemberModal">
      Add New Member
    </button>
    <ul>
      <% @members.each do |member| %>
        <% if member.user %>
          <li><%= member.user.first_name %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

